---
layout: layouts/base.njk
---
{%- set t = i18n[locale | default('en')] -%}
{%- set l = locale | default('en') -%}
{%- set ver = currentVersion if currentVersion else rpcMeta.latest -%}
{%- set rpcData = rpc[ver] -%}

<div class="container-fluid rpc-layout">
  <div class="row g-0">

    <aside class="col-12 col-lg-3 col-xl-2 rpc-sidebar order-2 order-lg-1" id="rpcSidebar">
      <div class="rpc-sidebar-inner p-3">

        {%- if rpcMeta.versions | length > 1 %}
        <div class="mb-3">
          <div class="dropdown">
            <button class="btn bwc-util-btn dropdown-toggle w-100 text-start"
                    data-bs-toggle="dropdown" aria-expanded="false" type="button">
              <i class="fa-solid fa-code-branch me-1"></i>v{{ ver }}{% if ver == rpcMeta.latest %} <span class="rpc-latest-tag">latest</span>{% endif %}
            </button>
            <ul class="dropdown-menu bwc-dd w-100">
              {%- for v in rpcMeta.versions %}
              <li>
                <a class="dropdown-item rpc-ver-item{% if v == ver %} active{% endif %}"
                   href="/{{ l }}/development/rpc/{{ v }}/"
                   data-rpc-ver="{{ v }}">v{{ v }}{% if v == rpcMeta.latest %} <span class="rpc-latest-tag">latest</span>{% endif %}</a>
              </li>
              {%- endfor %}
            </ul>
          </div>
        </div>
        {%- else %}
        <div class="mb-3">
          <span class="text-muted small" style="font-family:var(--bwc-font-mono);font-size:0.78rem;">
            <i class="fa-solid fa-code-branch me-1"></i>v{{ ver }}
          </span>
        </div>
        {%- endif %}

        <div class="mb-3">
          <input
            type="search"
            class="form-control form-control-sm bg-body-tertiary border-0"
            id="rpcSearch"
            placeholder="{{ t.dev_rpc_search }}"
            autocomplete="off"
            spellcheck="false"
          >
        </div>

        <a href="/{{ l }}/development/rpc/{{ ver }}/" class="rpc-index-link d-block mb-2 small text-secondary">
          &larr; {{ t.rpc_all_methods }}
        </a>

        <nav id="rpcNav" aria-label="RPC methods" data-rpc-ver="{{ ver }}">
          {%- set currentCat = "" -%}
          {%- for m in rpcData.methods | sort(false, false, "category") %}
            {%- if m.category != currentCat %}
              {%- if currentCat != "" %}</ul></div>{% endif %}
              {%- set currentCat = m.category -%}
              <div class="rpc-category mb-1">
                <button
                  class="rpc-cat-toggle btn btn-link btn-sm w-100 text-start px-1 py-1 text-uppercase fw-semibold text-secondary"
                  data-cat="{{ m.category | slug }}"
                >
                  <i class="fa-solid fa-chevron-down me-1 rpc-chevron"></i>{{ m.category }}
                </button>
                <ul class="rpc-method-list list-unstyled ms-2 mb-0">
            {%- endif %}
              <li>
                <a href="/{{ l }}/development/rpc/{{ ver }}/{{ m.name }}/"
                   class="rpc-method-link{% if page.url == '/' + l + '/development/rpc/' + ver + '/' + m.name + '/' %} active{% endif %}"
                   data-rpc-method="{{ m.name }}">
                  {{ m.name }}
                </a>
              </li>
          {%- endfor %}
          {%- if currentCat != "" %}</ul></div>{% endif %}
        </nav>
      </div>
    </aside>

    <div class="col-12 col-lg-9 col-xl-10 rpc-content px-4 py-4 order-1 order-lg-2">
      {{ content | safe }}
    </div>

  </div>
</div>

<script src="/static/js/rpc-sidebar.js"
  integrity="{{ 'js/rpc-sidebar.js' | sri }}" crossorigin="anonymous"></script>
