---
permalink: /index.html
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="refresh" content="0;url=/en/">
<title>Bitweb Core</title>
</head>
<body>
<a href="/en/">Redirecting…</a>
</body>
</html>
